In [1]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer
from sklearn.neighbors import NearestNeighbors

%matplotlib inline

In [2]:
links = pd.read_csv('../lecture-1/links.csv')
movies = pd.read_csv('../lecture-1/movies.csv')
ratings = pd.read_csv('../lecture-1/ratings.csv')
tags = pd.read_csv('../lecture-1/tags.csv')

In [6]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
rt = pd.merge(movies, ratings, on = 'movieId')

In [24]:
vect = rt.pivot(index='movieId', columns = 'userId', values = 'rating').reset_index()

In [25]:
vect = vect.drop('movieId', axis = 1)

In [26]:
vect = vect.fillna(0)

In [29]:
vect.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
0,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
1,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
a = vect.loc[10, :]

userId
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      4.0
7      0.0
8      4.0
9      0.0
10     0.0
11     0.0
12     0.0
13     0.0
14     0.0
15     0.0
16     0.0
17     0.0
18     0.0
19     0.0
20     0.0
21     0.0
22     0.0
23     0.0
24     0.0
25     0.0
26     0.0
27     0.0
28     0.0
29     0.0
30     0.0
      ...
581    0.0
582    0.0
583    0.0
584    0.0
585    0.0
586    0.0
587    4.0
588    0.0
589    0.0
590    3.0
591    0.0
592    0.0
593    0.0
594    5.0
595    0.0
596    0.0
597    3.0
598    0.0
599    2.5
600    0.0
601    0.0
602    3.0
603    0.0
604    0.0
605    0.0
606    2.5
607    3.0
608    0.0
609    0.0
610    0.0
Name: 10, Length: 610, dtype: float64

In [ ]:
for i in a: